<html>
<head><title>Twitter Dubai</title></head>
<body>
    <h1>Twitter Top 25 topics in Dubai</h1>
    
    

    <!-- 
    <form name = "send-form" id="send-form" class="send-form" action="#">
        <span id="replace"></span>
    <input type="submit" value="Submit"></input>
    </form>
    
    <script>    
        var Ar = ["C++","Cricket","Java","PHp"];
        var Ar = {{name}}
        var bind = "";
        
        for(var i=0;i<Ar.length;i++){
            flag = "";
            if(i==0)
                flag = "checked";
            
            bind += "<input type='radio' name='topic' id='1' value='"+Ar[i]+"'    "+ flag +"  >" + Ar[i] +"<br>";
        }
        
        document.getElementById("replace").innerHTML = bind;
    </script>
 -->

    

    <form name = "send-form" id="send-form" class="send-form" action="#">
    <input type="radio" name="topic" id="1" value="1" checked>  {{name[0]}}  <br>
    <input type="radio" name="topic" id="2" value="2" >  {{name[1]}}  <br>
    <input type="radio" name="topic" id="3" value="3" >  {{name[2]}}  <br>
    <input type="radio" name="topic" id="4" value="4" >  {{name[3]}}  <br>
    <input type="radio" name="topic" id="5" value="5" >  {{name[4]}}  <br>
    <input type="radio" name="topic" id="6" value="6" >  {{name[5]}}  <br>
    <input type="radio" name="topic" id="7" value="7" >  {{name[6]}}  <br>
    <input type="radio" name="topic" id="8" value="8" >  {{name[7]}}  <br>
    <input type="radio" name="topic" id="9" value="9" >  {{name[8]}}  <br>
    <input type="radio" name="topic" id="10" value="10" >  {{name[9]}}  <br> 
    <input type="radio" name="topic" id="11" value="11" >  {{name[10]}}  <br>
    <input type="radio" name="topic" id="12" value="12" >  {{name[11]}}  <br>
    <input type="radio" name="topic" id="13" value="13" >  {{name[12]}}  <br>
    <input type="radio" name="topic" id="14" value="14" >  {{name[13]}}  <br>
    <input type="radio" name="topic" id="15" value="15" >  {{name[14]}}  <br>
    <input type="radio" name="topic" id="16" value="16" >  {{name[15]}}  <br>
    <input type="radio" name="topic" id="17" value="17" >  {{name[16]}}  <br>
    <input type="radio" name="topic" id="18" value="18" >  {{name[17]}}  <br>
    <input type="radio" name="topic" id="19" value="19" >  {{name[18]}}  <br>
    <input type="radio" name="topic" id="20" value="20" >  {{name[19]}}  <br>
    <input type="radio" name="topic" id="21" value="21" >  {{name[20]}}  <br>
    <input type="radio" name="topic" id="22" value="22" >  {{name[21]}}  <br>
    <input type="radio" name="topic" id="23" value="23" >  {{name[22]}}  <br>
    <input type="radio" name="topic" id="24" value="24" >  {{name[23]}}  <br>
    <input type="radio" name="topic" id="25" value="25" >  {{name[24]}}  <br>

    <input type="submit" value="Submit"></input>
    </form>


    <div id="tweet-list"></div>

    <script>
    function getRadioVal(form, name) {
    var val;
    // get list of radio buttons with specified name
    var radios = form.elements[name];
    
    // loop through list of radio buttons
    for (var i=0, len=radios.length; i<len; i++) {
        if ( radios[i].checked ) { // radio checked?
            val = radios[i].value; // if so, hold its value in val
            break; // and break out of for loop
            }
        }
        return val; // return value of checked radio or undefined if none checked
    }

    // for(var i = 0; i < )
     //    document.getElementById('send-form').onsubmit = function() {
    	// // this (keyword) refers to form to which onsubmit attached
    	// // 'ship' is name of radio button group
    	// var val = getRadioVal(this, 'topic');
    	// // display value obtained
    	// //alert(val);
     //    // call api with the val
     //    // more code here ...
     //    }

        //function alert_me(alert("from func"))
        //var selected = document.querySelector('input[name="topic"]:checked').value;
	    //console.log("testing")
        //alert(selected)
    </script>	


    <script type="text/javascript" 
                src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js">    
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            var url = "http://" + document.domain + ":" + location.port;
            var socket = io.connect(url + "/dd");
            // console.log(url)

            $("#send-form").submit(function(event) {
                var val = getRadioVal(this, 'topic');
                // var topic_list = 
                // var topic = {{name}}
                // console.log(val)
                socket.emit('tweet', {'topic_index': val});
                // $('#tweet').val('');
                return false;
                });
            socket.on('tweet', function(msg) {
                // console.log(msg.tweet)
                for (var i = 0; i < msg.tweet.length; i++) {
                    $("#tweet-list").prepend('<h3>' + msg.tweet[i] + '<h3>');
                }                    
            });
            
        });
    </script>
</body>

